###> docker compose ###
COMPOSE_PROJECT_NAME=ostravel
POSTGRES_DB=ostravel
POSTGRES_USER=ostravel
POSTGRES_PASSWORD=ostravel
###< docker compose ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_generate_with_openssl_rand_hex_16
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://127.0.0.1:8080
###< symfony/routing ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=sync://
###< symfony/messenger ###

###> doctrine/doctrine-bundle ###
# Hostname `postgres` = service Docker interne
# Depuis l'hôte / PHPUnit : postgresql://ostravel:ostravel@127.0.0.1:5432/ostravel?serverVersion=16&charset=utf8
DATABASE_URL="postgresql://ostravel:ostravel@postgres:5432/ostravel?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_generate_with_openssl_rand_hex_32
###< lexik/jwt-authentication-bundle ###

###> nelmio/cors-bundle ###
# Origine front autorisée (exacte, pas de '*'). Exemple Vite : http://localhost:5173
# Plusieurs origines : lister chaque entrée dans config/packages/nelmio_cors.yaml
# (allow_origin), en plus de cette variable.
CORS_ALLOW_ORIGIN=http://localhost:5173
###< nelmio/cors-bundle ###
